<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>PIBITI - Home</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema PIBITI/PIBIC</h1>
    <p>Plataforma para conectar alunos e professores.</p>
</body>
</html>
